monitoring:
  enabled: true

kube-prometheus-stack:
  prometheus:
    prometheusSpec:
      serviceMonitorSelectorNilUsesHelmValues: false

  grafana:
    enabled: true
    adminPassword: admin123
    service:
      type: ClusterIP
